* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* css for the sidebar */

.sidebar-container {
  margin: 0px 0px;
  padding: 0px 0px;
}

.sidebar {
  height: 100vh;
  width: 100%;
  background-color: rgb(50, 47, 66);
}

.sidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebarRow {
  height: 60px;
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sidebarRow:hover {
  cursor: pointer;
  background-color: cadetblue;
}

.sidebarRow #icon {
  flex: 20%;
  display: grid;
  place-items: center;
  color: aliceblue;
}

.sidebarRow #title {
  flex: 80%;
  color: aliceblue;
}

#active {
  background-color: rgb(36, 37, 77);
}

@media screen and (max-width: 764px) {
  .sidebar {
    width: 100%;
    height: 8vh;
  }
  .sidebarRow #title {
    /* display: none; */
  }

  .sidebarRow #icon {
    flex: 100%;
    place-items: center;
  }
  .sidebarRow {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

/* css for the form */

.form-container {
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.form-body {
  margin-top: 5%;
  border-radius: 3%;
  padding: 40px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-body h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.form-body h2::after {
  content: "";
  display: block;
  border-bottom: solid 2px black;
  margin-top: 15px;
}

.form-body label {
  font-size: 1.3rem;
  font-weight: bold;
}

.form-body input {
  margin-bottom: 1%;
}

.form-submit-button {
  margin-top: 15px;
  padding: 8px 20px;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: rgb(77, 85, 94);
  border: none;
}

select.form-select option:first-child {
  display: none;
}

.bootstrap-select ul.dropdown-menu li:first-child {
  display: none;
}

.error-message {
  color: rgb(165, 57, 57);
  text-transform: lowercase;
}

/* css for the table */

.table {
  padding: 50px;
  background-color: white;
  border-radius: 20px;
  margin-top: 5%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#user-table tr {
  padding: 10px;
}
#user-table td {
  padding: 15px;
}

#user-table th {
  padding: 15px;
  padding-top: 25px;
}
